# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem

# editor / IDE
.vscode/
.idea/
*.swp
*.swo

# logs
logs
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# sqlite + uploads
/prisma/dev.db
/prisma/dev.db-journal
/data/uploads

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
